p {
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(83, 23, 83);
}

body {
    background-color: rgba(96, 146, 39, 0.295);
}

/* Criando esilos de classe para serem aplicados em um página HTML5 */
.menu {
    font-size: 14px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(28, 18, 168);
}

.formatar_texto {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Criando estilos para formatar nosso formulário */

.campo_nome {
    position: relative;
    left: 19px;
    width: 240px;
    background-color: yellow;
    color: green;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botao {
    color: red;
    font-size: 14px;
    font-weight: bolder;
    border: rgb(28, 18, 168);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#formulario_contato {
    background-color: lightcoral;
    font-size: 12px;
    font-weight: bold;
    color: bisque
}

/* Criando estilos que serão utilizados na nossa página em BootStrap */
.container {
    border: 3px solid red;
}

.div1 {
    background-color: yellow;
}

.div2 {
    background-color: yellowgreen;
}

.div3 {
    background-color: rgb(173, 73, 34);
}

.div4 {
    background-color: blueviolet;
}